.aside {
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: $color-bg-manager;
  color: $color-text-secondary;
  font-size: 16px;
  font-weight: 400;
  font-family: $font-manager;
  height: 100vh;

  &__action {
    padding: 35px 0 0 35px;
  }

  &__head {
    display: flex;
    margin-bottom: 73px;
    align-items: center;
    gap: 10px;
    font-weight: 700;
  }

  &__item {
    text-decoration: none;
    color: $color-text-secondary;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 60px;
  }

  &__active {
    font-weight: 700;
    border-right: 6px solid $color-active-secondary;
    margin-right: -3px;
  }

  &__logout {
    padding: 20px 139px 21px 61px;
    width: 250px;
    float: left;
    text-decoration: none;
    color: $color-text-secondary;
    background-color: $color-bg-logout;
  }
}
