.icon-manager {
  background-image: url("../assets/images/managers/logo-manager.svg");
  width: 45px;
  height: 45px;
  background-repeat: no-repeat;
}

.icon-mail {
  background-image: url("../assets/images/managers/mail.png");
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
}

.icon-search {
  background-image: url("../assets/images/managers/icon-search.png");
  width: 17px;
  height: 17px;
  background-repeat: no-repeat;
}

.icon-filter {
  background-image: url("../assets/images/managers/filter.svg");
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
}

.icon-prev {
  background-image: url("../assets/images/managers/prev.svg");
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
}

.icon-next {
  background-image: url("../assets/images/managers/next.svg");
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
}
