// variable color

$color-primary: black;
$color-text-secondary: #fff;
$color-login: rgba(50, 64, 59, 1);
$bg-login-priamry: rgba(132, 199, 174, 1);
$color-bg-login: rgba(246, 251, 249, 1);
$color-bg-wrapper: #EDF2F7;
$color-bg-btn: #553C9A;

//size

// font-family
$font-login: Karla;
