// variable color

$color-text-secondary: #fff;
$color-login: rgba(50, 64, 59, 1);
$bg-login-priamry: rgba(132, 199, 174, 1);
$color-bg-login: rgba(246, 251, 249, 1);
$color-bg-wrapper: rgba(167, 215, 197, 1);
$color-bg-btn: #c1e3d6;

//size

// font-family
$font-login: Karla;
