.container   {
  margin: 0 auto;
  width: 75%;
}

.sign-up {
  padding: 20px ;
  border: 1px solid black;
  margin: 0 auto;
  padding: 20px;
  border-radius: 20px;
}

.title {
  font-size: 50px;
  text-align: center;
}

.myinput {
  display: grid;
  grid-template-columns: 150px 1fr;
  padding: 10px ;
  align-items: center;
}

.input-area {
  display: grid;
  width: 100%;
  justify-self: center;
  row-gap: 10px;
}

.input-area > span {
  color: red;
}

span {
  display: block;
}